@font-face {
  font-family: 'Sigmar-Regular-Font';
  src: url('/static/Sigmar-Regular.ttf') format('ttf');
}

* {
  font-family: 'Sigmar-Regular-Font', sans-serif;
}

body {

  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header-class {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

.table {
    border: 1px solid #d8d8d8;
    background-color: #fff;
}

.table-name {
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.description {
    font-weight: bold;
}

.table-content {
    height: 250px;
    background: #fff;
}

.input-container {
    padding: 5px;
    margin-top: 10px;
}

.input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-color: #d8d8d8;
    margin-left: 50px;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin-top: 50px;
  margin-left: 45px;
  width: 150px;
}

.submit:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.row {
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
}

.select-box {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.remove-btn {
    background: linear-gradient(180deg, #FF4B4B 0%, #F63E3E 100%) !important;
}


.result-table {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    width: 49%;
}

.result-table-header {
    margin: 0;
    padding: 5px 0px 3px 10px;
    background: #f5f5f5;
    color: #777272;
    height: 30px;
}

.no-result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.result_row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #e3e7e8;
}