<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <div class="header-class">
            <h1> BLACKBOARD </h1>
        </div>
    </header>
    <div class="row">
        <!--      table 1-->
        <div class="table"  style=" width: 49%;">
            <div class="table-name">
                <h2> Add Module Leader </h2>
                <p class="description"> Add Module leader tool allows you to add module leader into your course as
                    Student/ Instructor / External examiner </p>
            </div>

            <div class="table-content">
                <form method="POST" action="/search">
                    <div class="input-container">
                        <label for="userName">Enter Staff User Name: </label>
                        <input type="text" id="userName" name="userName" class="input"
                            placeholder="Enter Staff User Name"><br>
                    </div>
                    <div class="input-container">
                        <label for="courseName">Enter Course Name</label>
                        <input type="text" id="courseName" name="courseName" class="input" placeholder="Enter Course Name"><br>
                    </div>
                    <button type="submit" class="submit">Search</button>
                </form>
            </div>
        </div>


        <!--      table 2-->
        <div class="table" style=" width: 49%;">
            <div class="table-name">
                <h2> User and Course details </h2>
            </div>

            <div class="table-content">
                <div class="input-container">
                    <label>
                        Username:
                        {% if context and context['user'][0] %}
                            {{ context['user'][0].userName }}
                        {% endif %}
                    </label>
                </div>
                <div class="input-container">
                    <label>
                        Email:
                        {% if context and context['user'][0] %}
                            {{ context['user'][0]['contact']['email'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="input-container">
                    <label>
                        Course Id:
                        {% if context and context['course'] %}
                            {{ context['course'][0]['courseId'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="input-container">
                    <label>
                        Course Name:
                        {% if context and context['course'] %}
                            {{ context['course'][0]['name'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="input-container">
                    <label>
                        Created At:
                        {% if context and context['course']%}
                            {{ context['course'][0]['created'] }}
                        {% endif %}
                    </label>
                </div>

                <div class="input-container">
                    <form method="POST" action="/add_user">
                        {% if context and context['user']%}
                            <input type="hidden" name="user_id" value="{{ context['user'][0]['id'] }}">
                        {% endif %}
                        {% if context and context['course']%}
                            <input type="hidden" name="course_id" value="{{ context['course'][0]['id'] }}">
                        {% endif %}
                        <div class="select-box">
                            <div>
                                <label for="my-select">Add user as:</label>
                                <select name="role" id="my-select">
                                    <option value="Instructor">Instructor</option>
                                    <option value="Student">Student</option>
                                    <option value="Grader">External Examiner</option>
                                </select>
                            </div>
                            <button type="submit" class="submit" style="margin-top: 3px;">Add User</button>
                        </div>
                    </form>
                </div>

                <div class="input-container">
                    <form method="POST" action="/remove_user">
                        {% if context and context['user']%}
                            <input type="hidden" name="user_id" value="{{ context['user'][0]['id'] }}">
                        {% endif %}
                        {% if context and context['course']%}
                            <input type="hidden" name="course_id" value="{{ context['course'][0]['id'] }}">
                        {% endif %}
                        <button type="submit" class="submit remove-btn" style="margin-top: 2px;">Remove User</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="table"  style=" width: 100%;">
            <div class="table-name" style="height: 25px;">
                <h4 style="margin-top: -1px;"> Select Staff And Curse Details  </h4>
            </div>

            <div class="table-content" style="display: flex; justify-content: space-between; padding: 20px;">
                <div class="result-table">
                    <div class="result-table-header">
                       {% if context %}
                            Showing {{ context['user_count'] }} results
                       {% else %}
                            Showing 0 results
                       {% endif %}
                    </div>
                    {% if context and context['user_count'] %}
                        {% for user in context['user'] %}
                            <div class="result_row">
                                <p> {{ user.id }} </p>
                                <p> {{ user.userName }} </p>
                                <p> {{ user.gender }} </p>
                                <p> {{ user.contact__email }} </p>
                                <p> {{ user.institutionRoleIds__001 }} </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-result-container">
                            No results found
                        </div>
                    {% endif %}
                </div>

                <div class="result-table">
                    <div class="result-table-header">
                       {% if context %}
                            Showing {{ context['course_count'] }} results
                       {% else %}
                            Showing 0 results
                       {% endif %}
                    </div>

                    {% if context and context['course_count'] %}
                        {% for course in context['course'] %}
                            <div class="result_row">
                                <p> {{ course.id }} </p>
                                <p> {{ course.name }} </p>
                                <p> {{ course.courseId }} </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-result-container">
                            No results found
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>